DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=koperasi_desa_db
SESSION_SECRET=koperasi_sukadalem_secret_2024
PORT=3000

# Email Configuration (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=ufkb iywp ponq zwmu
